#ramen-title-container {
  background-color: black;
  width: 100%;
  padding: 13px;
  text-align: center;
   margin-top: 0;
   position:absolute;
   top: 2px;
   left: 2px;
}

#ramen-title {
  color: rgb(243, 238, 238);
  font-size: 1.7em;
  font-weight: bold;
  font-family: Arial;
}

#ramen-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;      
  margin-top: 20px;         
  width: 100%;              
  gap: 10px;                
  text-align: center;       
}

.ramen-image {
  width: 200px; 
  height: 100px; 
  object-fit: cover; 
  margin-left: 5px; 
  margin-top: 30px; 
  cursor: pointer; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.ramen-image:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6); 
}
#new-ramen-form {
  width: 100%;
}

#selected-ramen-image {
  width: 120px;  
  height: 120px; 
  object-fit: cover;  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 20px auto;  
  display: block;  
  border-radius: 8px;  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);  
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

#selected-ramen-image:hover {
  transform: scale(1.05);  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}



#selected-ramen-text {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  background-color:  rgba(255, 255, 255, 0);
  color: rgb(15, 15, 15);
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px; 
}



#ramen-name-container{
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); 
  margin-bottom: 10px;
}

#ramen-restaurant-container {
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); 
  color: black;
  padding: 3px 8px; 
  border-radius: 5px; 
  text-align: center;
  width: 40%; 
}

#ramen-name {
  font-size: 1em;
  margin: 0;
}

#ramen-restaurant {
  font-size: 1em;
  margin: 4px 0;
}



#ramen-rating, #ramen-comment {
  color: black;
  font-weight: bold;
  margin-top: 3px;
  text-align: center;
}

#rating-value, #comment-value {
  color: black;
  text-align: center;
  margin: 5px 0;
}



h2, p {
  margin: 0;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

input[type="text"],
input[type="url"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 14%;
  display: block;
  margin: 20px auto;
  font-size: 16px;;
}

#new-ramen-form button {
  padding: 8px 10px; 
#ramen-title-container {
  background-color: black;
  width: 100%;
  padding: 13px;
  text-align: center;
   margin-top: 0;
   position:absolute;
   top: 2px;
   left: 2px;
}

#ramen-title {
  color: rgb(243, 238, 238);
  font-size: 1.7em;
  font-weight: bold;
  font-family: Arial;
}

#ramen-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;      
  margin-top: 20px;         
  width: 100%;              
  gap: 10px;                
  text-align: center;       
}

.ramen-image {
  width: 200px; 
  height: 100px; 
  object-fit: cover; 
  margin-left: 5px; 
  margin-top: 30px; 
  cursor: pointer; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.ramen-image:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6); 
}
#new-ramen-form {
  width: 100%;
  
}

#selected-ramen-image {
  width: 120px;  
  height: 120px; 
  object-fit: cover;  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 20px auto;  
  display: block;  
  border-radius: 8px;  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);  
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

#selected-ramen-image:hover {
  transform: scale(1.05);  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}



#selected-ramen-text {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  background-color:  rgba(255, 255, 255, 0);
  color: rgb(15, 15, 15);
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px; 
}



#ramen-name-container{
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); 
  margin-bottom: 10px;
}

#ramen-restaurant-container {
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); 
  color: black;
  padding: 3px 8px; 
  border-radius: 5px; 
  text-align: center;
  width: 40%; 
}

#ramen-name {
  font-size: 1em;
  margin: 0;
}

#ramen-restaurant {
  font-size: 1em;
  margin: 4px 0;
}



#ramen-rating, #ramen-comment {
  color: black;
  font-weight: bold;
  margin-top: 3px;
  text-align: center;
}

#rating-value, #comment-value {
  color: black;
  text-align: center;
  margin: 5px 0;
}



h2, p {
  margin: 0;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

input[type="text"],
input[type="url"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 14%;
  display: block;
  margin: 20px auto;
  font-size: 16px;;
}

#new-ramen-form button {
  padding: 8px 10px; 

}

#new-ramen-form button:hover {
  background-color: #123a36;
 

}

button:hover {
  background-color: rgb(28, 162, 180);


}   
}

#new-ramen-form button:hover {
  background-color: #123a36;
 

}

button:hover {
  background-color: rgb(28, 162, 180);


}   